In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [2]:
df=pd.DataFrame({
  'color':['red','blue','green','red','red']
})
df.head()

   color
0    red
1   blue
2  green
3    red
4    red

In [3]:
encoder=LabelEncoder()
df['encoded_color']=encoder.fit_transform(df[['color']])
df['encoded_color']

/Users/leenakannan/anaconda3/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0    2
1    0
2    1
3    2
4    2
Name: encoded_color, dtype: int64

In [8]:
df

   color  encoded_color
0    red              2
1   blue              0
2  green              1
3    red              2
4    red              2