In [1]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [2]:
df=pd.DataFrame({
  'color':['red','blue','green','red','blue']
})
df.head()

   color
0    red
1   blue
2  green
3    red
4   blue

In [4]:
encoder=OneHotEncoder()
encoded=encoder.fit_transform(df[['color']]).toarray()

In [7]:
encoded_df = pd.DataFrame(encoded,columns=encoder.get_feature_names_out())
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [9]:
new_data=[['blue']]
encoded_data=encoder.transform(new_data).toarray()
encoded_data

/Users/leenakannan/anaconda3/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [10]:
full_df=pd.concat([df,encoded_df],axis=1)

In [11]:
full_df

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0