In [2]:
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd

In [4]:
df=pd.DataFrame({
  'education':['highSchool','College','Graduate','postGraduate','Graduate','College','Graduate']
})
df.head()

      education
0    highSchool
1       College
2      Graduate
3  postGraduate
4      Graduate

In [5]:
encoder=OrdinalEncoder(categories=[['highSchool','College','Graduate','postGraduate']])
df['encoded_education']=encoder.fit_transform(df[['education']])
df

      education  encoded_education
0    highSchool                0.0
1       College                1.0
2      Graduate                2.0
3  postGraduate                3.0
4      Graduate                2.0
5       College                1.0
6      Graduate                2.0